@font-face {
    font-family: balatro;
    src: url('./balatro.ttf');
}

.loading__background{
    -fx-background-color:rgb(0, 0, 0);
}
.label{
    -fx-font: 1px 'balatro';
    -fx-text-fill: white;
}
